.container-mobile {
    display: block
}

.container-desktop {
    display: none
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* body {
    background-color: green;
}  */

header {
    position: fixed;
    width: 100%;
    /* height: 8%; */
    box-shadow: 0px 3px 10px #464646;
    background-color: #fff;
    /* margin-bottom: 100px; */
    /* opacity: 0; */
    z-index: 10;
}

.nav-bar {
    display: flex;
    justify-content: center;
    padding: 1.5rem 6rem 1rem 3em;
}

.logo {
    display: grid;
    grid-template-columns: 5em 5em 5em;
    justify-items: center;
    align-items: center;
    /* margin-left: 3em; */
}

.logo .icon {
    width: 35px;
    height: 35px;
}

.img-logo {
    width: 50px;
}

.logo h1 {
    color: #40B121;
    font-weight: 500;
    font-size: 15px;
}

.icon {
    height: 30px;
    justify-self: end;
    /* padding-left: 3em; */
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #40B121;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
    padding: 0.3em 0.4em;
    background-color: #0187a7;
    border-radius: 2em;
}

.mobile-menu {
    display: none;
}


@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem 1.5rem 2rem;
        align-items: center;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
        position: relative;
        left: 21%;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}

/* main */

.video-background {
    width: 100%;
    /* position: relative; */
    height: 10em;
    object-fit: cover;
    margin-top: 6em;
}

.sec1-title {
    position: absolute;
    margin-top: 8em;
    margin-left: 1em;
    font-size: 17px;
    color: white;
    z-index: 1;
    font-family: "Share Tech", sans-serif;
}

.section1-btn {
    display: grid;
    justify-content: center;
    align-items: center;
}

.btn-sec1 {
    position: relative;
    bottom: 2em;
    border-radius: 10rem;
    background: linear-gradient(90deg, #40B121, #18A871, #006400);
    padding: 0.9rem;
    border: 0;
    border-radius: 4rem;
    cursor: pointer;
    color: white;
    font-family: "Share Tech", sans-serif;
    transition: 0.8s;
    /* margin: 0 0 2em 0; */
}

.btn-sec1:hover {
     animation: pulse 1.4s infinite;
     transition: .8s;
     box-shadow: 0 0 10px 0 #40B121 inset, 0 0 20px 2px #40B121;
     border: 3px solid #40B121;
}

/*  */

.inicio {
    /* background-image: url("https://www.reoboteengenharia.ind.br/wp-content/uploads/2024/03/BG-HOME-_MOBILE_-e1711661703968.webp"); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* height: 100%; */
    width: 100%;
    letter-spacing: 1px;
}

/* @media screen and (min-width: 700px) {
    .inicio {
        background-image: url("https://www.reoboteengenharia.ind.br/wp-content/uploads/2024/03/BG-HOME-_VERSAO-DESKTOP_.webp");
    }
} */

/* SECTION 2 */   

.section2 {
    /* margin-top: 7em; */
    display: grid;
}

.title1{
    color: #40B121;
}
    
.title {
        display: grid;
        justify-content: center;
        align-items: center;
        color: #000;
        text-align: center;
        margin: 0 1em;
}
    
.title p {
    margin-top: 1em;
}
    
.caixas {
    display: grid;
}

.caixa1 {
    border: 1px solid black;
    padding: 2em 2em 1.5em 2em;
    border-radius: 3em;
    width: 90%;
    margin-top: 2em;
    justify-self: center;
}

.fgr-box {
    display: grid;
    justify-content: center;
    align-items: center;
}

.img-box1 {
    /* position: relative; */
    height: 80px;
    width: 80px;
    margin: 2em 0;
    display: block;
    margin: auto;
}
    
.title-box1 {
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin-top: 0.5em;
}
    
.p-box1 {
    font-size: 15px;
    margin: 1em 0;
    line-height: 2;
}
    
.caixa2 {
    border: 1px solid black;
    padding: 2em 2em 1.5em 2em;
    border-radius: 3em;
    width: 90%;
    margin-top: 2em;
    justify-self: center;
}
    
.caixa3 {
    border: 1px solid black;
    padding: 2em 2em 1.5em 2em;
    border-radius: 3em;
    width: 90%;
    margin-top: 2em;
    justify-self: center;
}

/* SECTION 3 */

.section3 {
    display: grid;
    align-items: center;
    justify-items: center;
}

  .sec3-title {
    font-size: 1.5em;
    font-family: "Share Tech", sans-serif;
    color: #006400;
    margin: 3em 0 2em 0;
  }

  .sec3-box {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .sec3-box1 {
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 1px solid #40B121;
    /* height: 15em; */
    width: 85%;
}

.sec-box2 {
    margin: 2em 0;
}

  .icone-sec3 {
    margin: 1.5em 0;
    width: 5em;
    height: 5em;
  }

  .sec3-subtitle {
    text-align: center;
    /* font-size: 2.8rem; */
    font-family: "Share Tech", sans-serif;
    margin-bottom: 2rem;
    width: 90%;
  }

  .sec3-p {
    font-family: "Share Tech", sans-serif;
    font-size: 1em;
    width: 85%;
    margin-bottom: 2em;
  }

/* SECTION 4 */

#section4 {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 2em;
}

#casinha {
    width: 345px;
    height: 257px;
    border-radius: 1em;
    margin-top: 1em;
}

#h1-como-funciona {
    font-weight: 350;
    font-size: 22px;
    color: #25d366;
    text-align: center;
}

.div-txt-como-funciona {
    display: grid;
    /* justify-items: center; */
    align-items: center;
    width: 90%;
    margin-top: 1.5em;
}

.h1-como-funciona {
    text-align: left;
    font-size: 16px;
    margin-bottom: 0.2em;
    font-weight: 650;
    color: #25d366;
    line-height: 1.428571429
}

.txt-como-funciona {
    text-align: left;
    margin-bottom: 1em;
    color: #525252;
    font-size: 12px;
    line-height: 1.428571429
}

/* SECTION 5 LEANDRO */ 

.section5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .sec4-title {
    font-family: "Share Tech", sans-serif;
    color: #006400;
  }

  
  .section4-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-sec4 {
    border-radius: 10rem;
    background: linear-gradient(90deg, #40B121, #18A871, #006400);
    padding: 0.9rem;
    border: 0;
    border-radius: 4rem;
    cursor: pointer;
    color: white;
    font-family: "Share Tech", sans-serif;
    transition: 0.8s;
    margin: 2em 0 4em 0;
  }

  .btn-sec4:hover {
    animation: pulse 1.4s infinite;
    transition: .8s;
    box-shadow: 0 0 10px 0 #40B121 inset, 0 0 20px 2px #40B121;
    border: 3px solid #40B121;
  }
  
  .section4-box{
    background: linear-gradient(270deg, #18A871 25.5%, #009929 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    font-family: "Share Tech", sans-serif;
    padding: 3em 0;
  }

.sec4-box {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 30%;
  width: 85%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: 1px solid #000000;
  background: white;
}

.item1 {
    display: grid;
    align-items: center;
    justify-items: center;
}

.sec4-img {
  object-fit: cover;
  /* margin-left: 40%; */
  /* margin-top: 0.8rem; */
  width: 5em;
  height: 5em;
  margin-top: 2em;
}

.sec4-title {
    text-align: center;
  /* font-size: 3rem; */
    margin-top: 1em;
}

.sec4-p {
  margin: 1em 0 2em 0;
  width: 85%;
}


/* FOOTER */

:root {
    --color-neutral-0: #fff;
    --color-neutral-10: #fff;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #000;
}


* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 

footer {
    width: 100%;
    color: var(--color-neutral-40);
    letter-spacing: 1px;
}

.logo-footer {
    display: flex;
    align-items: center;
    justify-items: end;
}

.logo-footer img {
    width: 20%;
} 

.logo-footer h1 {
    color: #40B121;
    font-weight: 500;
    font-size: 25px;
    padding-top: 0.7em;
}

.footer-link {
    text-decoration: none;
    font-size: 1.5em;

}

.footer-list li h3 {
  font-size: 1.5em;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#p-redes {
    padding-left: 1em;
    font-size: 1.5em;
}

#footer_social_media {
    display: flex;
    gap: 2rem;

    padding: 1em;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #40B121;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.5em;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
    border: 1px solid #a8a29e;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #40B121;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.8rem;
    padding: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: #40B121;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

@media screen and (min-width: 700px){

.container-mobile {
    display: none
}

.container-desktop {
    display: block
}

    @import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


:root {
    font-size: 62.5%;
    
}

html {
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    background: linear-gradient(90deg, #fff 35.5%, #40b121 51.5%);
}

/* Lucas Candeias mexi aqui criei uma div adicional no HTMl para poder 
centralizar melhor os elementos sem precisar usar margin left e rigth*/
#headerDiv{
  width: 100%;
  justify-content: center;
  display: flex;
}

.logo-type {
    display: flex;
    align-items: center;
    /* margin-left: 22rem; */
}

.logo-name{
    font-size: 4rem;
    color: #40b121;
}

.logo-icon{
    width: 10rem;
    height: 10rem;
}

/* criei um style só pra nva para separar ela do GREENWAVES e centralizar melhor  */
.nav {
  display: flex;
  align-items: center;
  margin-left: 7%;
}

.nav-link{
    font-size: 2.2rem;
    color: white;
    font-weight: 500;
    font-family: "Share Tech", sans-serif;
}

.nav-bar2{
    display: flex;
    align-items: center;
    gap: 9rem;
    /* margin-right: 22rem; */
}

.nav ul li a {
    position:relative;
    z-index: 1;
  }
  .nav ul li a:hover {
    color: #18A871;font-weight: 600;
  }
  .nav ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #ffffff;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  .nav ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }

  .nav ul li a:after, .nav ul li a:before {
    transition: all .5s;
}
  
.video-background {
    width: 100%;
    position: relative;
    height: 60rem;
    object-fit: cover;
    
}

.sec1-title {
    position: absolute;
    margin-top: 20rem;
    margin-left: 10rem;
    font-size:  6rem;
    color: white;
    z-index: 1;
    font-family: "Share Tech", sans-serif;
}

.section1-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-sec1 {
    position: absolute;
    border-radius: 10rem;
    height: 5rem;
    width: 40rem;
    background: linear-gradient(90deg, #40B121, #18A871, #006400);
    padding: 0.9rem;
    border: 0;
    border-radius: 4rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: "Share Tech", sans-serif;
    font-size: 2.1rem;
    transition: 0.8s;
}

.btn-secc {
  color: white;
}

.btn-sec1:hover {
     animation: pulse 1.4s infinite;
     transition: .8s;
     box-shadow: 0 0 10px 0 #40B121 inset, 0 0 20px 2px #40B121;
     border: 3px solid #40B121;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(0.9);
    }
      100% {
      transform: scale(1);
    }
  }

  .section2 {
    display: flex;
    justify-content: center;
    margin-top: 40rem;
  }

  .sec2-title {
    font-size: 5rem;
    color: #006400;
    font-weight: bolder;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sec2-title {
    margin-bottom: 1rem;
    font-family: "Share Tech", sans-serif;
  }

  .sec2-p {
    font-size: 3rem;
    font-weight: 100;
    font-family: "Share Tech", sans-serif;
  }

  .box {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    font-family: "Share Tech", sans-serif;
  }


  .box1 {
    height: 40rem;
    width: 55rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 1px solid #40B121;
  }

  .box2 {
    height: 40rem;
    width: 55rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 1px solid #40B121;
  }

  .box3 {
    height: 40rem;
    width: 55rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 1px solid #40B121;
  }

  .icone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }


  .img1 {
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    margin-top: 0.5rem;
  }

  .sec2-subtitle {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .sec2-pbox {
    display: flex;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
    font-size: 2rem;
  }

  .section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10rem;
  }

  .sec3-title {
    font-size: 5rem;
    font-family: "Share Tech", sans-serif;
    color: #006400;
    margin-top: 15rem;
  }

  .sec3-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 15rem;
  }

  .sec3-box1 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 1px solid #40B121;
    height: 50rem;
    width: 60rem;
  }

  .sec3-box2 {
    height: 50rem;
    width: 60rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 1px solid #40B121;
  }

  .icone-sec3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    margin-left: 40%;
    margin-bottom: 1rem;
    width: 10rem;
    height: 10rem;
  }

  .sec3-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    font-family: "Share Tech", sans-serif;
    margin-bottom: 2rem;
  }

  .sec3-p {
    font-family: "Share Tech", sans-serif;
    font-size: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10rem;
  }

  .sec4-title {
    font-size: 5rem;
    font-family: "Share Tech", sans-serif;
    color: #006400;
    margin-top: 15rem;
  }

  
  .section4-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-sec4 {
    position: absolute;
    border-radius: 10rem;
    height: 5rem;
    width: 40rem;
    background: linear-gradient(90deg, #40B121, #18A871, #006400);
    padding: 0.9rem;
    border: 0;
    border-radius: 4rem;
    cursor: pointer;
    color: white;
    font-family: "Share Tech", sans-serif;
    font-size: 2.1rem;
    transition: 0.8s;
    margin-top: 11rem;
  }

  .btn-sec4:hover {
    animation: pulse 1.4s infinite;
    transition: .8s;
    box-shadow: 0 0 10px 0 #40B121 inset, 0 0 20px 2px #40B121;
    border: 3px solid #40B121;
  }
  
  .section4-box{
    width: 100%;
    height: auto;
    margin-top: 12rem;
    background: linear-gradient(270deg, #18A871 25.5%, #009929 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    font-family: "Share Tech", sans-serif;
  }

.sec4-box1 {
  display: flex;
  justify-content: center;
  height: 40rem;
  width: 50rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: 1px solid #000000;
  background: white;
  margin: 7px;
  margin-bottom: 7px;
}

.sec4-box2 {
  display: flex;
  justify-content: center;
  height: 40rem;
  width: 50rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: 1px solid #000000;
  background: white;
  margin: 7px;
  margin-bottom: 7px;
}

.sec4-box3 {
  display: flex;
  justify-content: center;
  height: 40rem;
  width: 50rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: 1px solid #000000;
  background: white;
  margin: 7px;
  margin-bottom: 7px;
}

.sec4-img {
  object-fit: cover;
  margin-left: 40%;
  margin-top: 0.8rem;
  width: 11rem;
  height: 11rem;
  margin-top: 3rem;
}

.sec4-title2 {
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
  font-size: 3rem;
}

.sec4-p1 {
  margin-top: 2rem;
  font-size: 2rem;
  padding-left: 8rem;
  padding-right: 4rem;
}

.sec4-p2 {
  margin-top: 2rem;
  font-size: 2rem;
  padding-left: 8rem;
  padding-right: 5rem;
}

.sec4-p3 {
  margin-top: 2rem;
  font-size: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}


.section5 {
  margin-top: 30rem;
  margin-left: 15rem;
  padding-right: 30rem;
}

.title-sec5 {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.sec5-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin-left: 7.4rem;
  color: #006400;;
}

.line {
  width: 80rem;
  height: 0;
  color: #18A871;
  border: solid 1px;
}

.energy-img {
  margin-left: 8rem;
  margin-top: 2rem;
  height: 42rem;
  width: 53rem;
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

}

.sec5-box, .energy-img{
  align-items: center;
}

.sec5-box{
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 5rem;
}


.texts-sec5 {
  width: 100%;
  margin-left: 8rem;
  margin-top: 2.4rem;
}

.textos {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.sec5-text {
  font-size: 2.5rem;
  font-family: "Share Tech", sans-serif;
  color: #006400;
}

.sec5-text-p {
  font-size: 2rem;
  font-family: "Share Tech", sans-serif;
}

.heart_beating {
  margin-top: 7rem;
  position: relative;
}

.heart {
  position: relative;
  width: 5rem;
  height: 5rem;
  background: #009929;
  transform: rotate(45deg);
  animation: beat 2s ease-out infinite;
}

.heart::before, .heart::after {
  content: '';
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #009929;
  position: absolute;
}

.heart::before {
  top: -2.5rem;
}

.heart::after {
  left: -2.5rem;
}

.shine {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 2.5rem;
  bottom: 4.8rem;
  border-radius: 100% 0%;
  border-left: 0.2rem solid #fff;
  transform: rotate(90deg);
}

.shadow {  
  width: 7rem;
  height: 2rem;
  background: #000000;
  opacity: .2;
  border-radius: 100%;
  position: absolute;
  bottom: -5rem;
  right: -1rem;
  animation: beat_shadow 2s ease-out infinite;
}

@keyframes beat {
  0%, 40%, 70%, 100%{
    transform: scale(1) rotate(45deg);
  }
  20% {
    transform: scale(1.4) rotate(45deg);
  }
  50%, 80% {
    transform: scale(1.2) rotate(45deg);
  }
}

@keyframes beat_shadow {
  0%, 40%, 70%, 100%{
    transform: scale(1);
  }
  20%  {
    transform: scale(1.4);
  }
  50%, 80% {
    transform: scale(1.2);
  }
}
    
}









