@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Share Tech", sans-serif;
}



/* BODY */

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.container {
  width: 80%;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  margin-top: 5rem;
}

.title {
    display: flex;
}

.voltar {
    width: 50px;
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00757e;
  padding: 1rem;
}

.form-image img {
  width: 31rem;
}

.form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 3rem;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #006400;
    margin: 0 auto;
    
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.btn-info{
    background-color: none;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #006400;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0.5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #18a871;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover{
    background-color: #006400;
}

.continue-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

#botaomodal{
    color: inherit; /* Herda a cor do texto do elemento pai */
    text-decoration: none; /* Remove o sublinhado */
}

@media screen and (max-width: 1330px) {

    .form-image{
        display: none;
    }

    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
    }
    .input-group {
        display: grid;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}


/* Telas médias (tablets) */
@media (max-width: 991px) { 
    .container {
        flex-direction: column; /* Muda para layout vertical em tablets */
    }

    .form-image {
        display: none; /* Esconde a imagem em tablets e menores */
    }

    .form {
        width: 100%;
    }
}

/* Telas médias (tablets) */
@media (max-width: 991px) { 
    .container {
        width: 90%; /* Ajuste a largura para 90% em tablets */
        max-width: 700px; /* Limita a largura máxima em tablets */
    }
}

/* Telas pequenas (celulares) */
@media (max-width: 576px) { 
    .container {
        width: 95%; /* Ajuste a largura para 95% em celulares */
    }
}
  

  